﻿<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">
        
        <h3>You are logged in as: {{model.Name}}</h3>
        <div>
            and these are your last posts<br />

            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Message</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{model.Feed}}">
                        <tr>
                            <td>{{item.Date}}</td>
                            <td>{{item.Message}}</td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>

    </template>
</template>
